input {
  width: 272px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 32px 8px 32px 40px;
  outline: none;
}

input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: 1px solid #4e75ff;
}

input:disabled {
  border: 1px solid #808080;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  column-gap: 24px;
  margin-left: 40px;
  width: 346px;
  height: 72px;
  justify-content: space-evenly;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
}